{% extends "base.html" %}

{% block body %}

<div>
    <h1 class="text-3xl font-bold mb-4">
        Welcome, <span class="text-pink-300">{{ username }}</span>.
    </h1>
    <p class="mb-2 text-lg">
        Your initial <span class="font-mono bg-pink-800 px-2 rounded">{{ pp }}</span> pp for the current session is set.
    </p>
    <p class="mb-4 text-lg">
        Your league is 
        <span class="font-semibold 
            {% if league == 'Bronze' %} text-yellow-600
            {% elif league == 'Silver' %} text-gray-300
            {% elif league == 'Gold' %} text-yellow-400
            {% elif league == 'Platinum' %} text-blue-400
            {% elif league == 'Diamond' %} text-indigo-400
            {% else %} text-pink-300
            {% endif %}
        ">
            {{ league }}
        </span>.
    </p>

    <p class="italic text-pink-200">{{ msg }}</p>
</div>

{% endblock %}
