{% extends "base.html" %}

{% block body %}

<div>
    <h1>
        Welcome To <span>Osu!Arena</span>.
    </h1>
    <p>
        Be part of the action! Join our 
        <span>
            <a href="https://discord.gg/GBsNU5hCQy" target="_blank" rel="noopener noreferrer" class="underline hover:text-pink-200 transition">
                official Discord server
            </a>
        </span> 
        to connect with the community, get updates, and learn more.
    </p>
    <p>
        See you <span>there!!</span>.
    </p>
</div>

{% endblock %}
